# ✅ Create PostgreSQL Tables for Robot Vacuum Depot
Run this notebook to create all database tables.

In [5]:
import psycopg2
import os

# ✅ Configure PostgreSQL credentials
PG_HOST = "localhost"
PG_PORT = "5433"
PG_USER = "postgres"
PG_PASSWORD = "admin"
PG_DB = "robot_vacuum"

In [6]:
# ✅ SQL DDL to create tables
DDL = r"""CREATE SCHEMA IF NOT EXISTS robot_vacuum;
SET search_path TO robot_vacuum;

DROP TABLE IF EXISTS Review CASCADE;
DROP TABLE IF EXISTS WarehouseDistributionCenter CASCADE;
DROP TABLE IF EXISTS WarehouseProductStock CASCADE;
DROP TABLE IF EXISTS "Order" CASCADE;
DROP TABLE IF EXISTS DistributionCenter CASCADE;
DROP TABLE IF EXISTS Warehouse CASCADE;
DROP TABLE IF EXISTS Product CASCADE;
DROP TABLE IF EXISTS Customer CASCADE;
DROP TABLE IF EXISTS Manufacturer CASCADE;

CREATE TABLE Manufacturer (
    ManufacturerID VARCHAR(20) PRIMARY KEY,
    ManufacturerName TEXT NOT NULL,
    Country TEXT,
    LeadTimeDays INT,
    ReliabilityScore NUMERIC(4,2)
);

CREATE TABLE Customer (
    CustomerID VARCHAR(20) PRIMARY KEY,
    CustomerName TEXT NOT NULL,
    CustomerEmail TEXT NOT NULL,
    CustomerStreetAddress TEXT,
    CustomerZipCode VARCHAR(10),
    BillingZipCode VARCHAR(10),
    Segment TEXT
);

CREATE TABLE Product (
    ProductID VARCHAR(20) PRIMARY KEY,
    ProductName TEXT NOT NULL,
    ModelNumber TEXT,
    ManufacturerID VARCHAR(20) REFERENCES Manufacturer(ManufacturerID),
    UnitPrice NUMERIC(12,2),
    ProductDescription TEXT
);

CREATE TABLE Warehouse (
    WarehouseID VARCHAR(20) PRIMARY KEY,
    WarehouseStreetAddress TEXT,
    WarehouseZipCode VARCHAR(10),
    WarehouseCapacity INT
);

CREATE TABLE DistributionCenter (
    DistributionCenterID VARCHAR(20) PRIMARY KEY,
    Region TEXT,
    DistributionCenterStreetAddress TEXT,
    DistributionCenterZipCode VARCHAR(10),
    FleetSize INT
);

CREATE TABLE "Order" (
    OrderID VARCHAR(20) PRIMARY KEY,
    CustomerID VARCHAR(20) REFERENCES Customer(CustomerID),
    ProductID VARCHAR(20) REFERENCES Product(ProductID),
    WarehouseID VARCHAR(20) REFERENCES Warehouse(WarehouseID),
    DistributionCenterID VARCHAR(20) REFERENCES DistributionCenter(DistributionCenterID),
    Quantity INT,
    UnitPrice NUMERIC(12,2),
    DiscountAmount NUMERIC(12,2),
    PromoCode TEXT,
    TaxAmount NUMERIC(12,2),
    ShippingCost NUMERIC(12,2),
    CostOfGoods NUMERIC(12,2),
    TotalAmount NUMERIC(12,2),
    OrderDate TIMESTAMP,
    ExpectedDeliveryDate TIMESTAMP,
    ActualDeliveryDate TIMESTAMP,
    DeliveryStatus TEXT,
    PaymentMethod TEXT,
    CardNumber TEXT,
    CardBrand TEXT,
    BillingZipCode VARCHAR(10),
    DeliveryStreetAddress TEXT,
    DeliveryZipCode VARCHAR(10),
    ShippingCarrier TEXT
);

CREATE TABLE WarehouseProductStock (
    WarehouseID VARCHAR(20) REFERENCES Warehouse(WarehouseID),
    ProductID VARCHAR(20) REFERENCES Product(ProductID),
    StockLevel INT,
    RestockThreshold INT,
    LastRestockDate TIMESTAMP,
    LastUpdated TIMESTAMP,
    PRIMARY KEY (WarehouseID, ProductID)
);

CREATE TABLE WarehouseDistributionCenter (
    WarehouseID VARCHAR(20) REFERENCES Warehouse(WarehouseID),
    DistributionCenterID VARCHAR(20) REFERENCES DistributionCenter(DistributionCenterID),
    PRIMARY KEY (WarehouseID, DistributionCenterID)
);

CREATE TABLE Review (
    ReviewID VARCHAR(20) PRIMARY KEY,
    OrderID VARCHAR(20) REFERENCES "Order"(OrderID),
    ProductID VARCHAR(20) REFERENCES Product(ProductID),
    ReviewRating NUMERIC(2,1),
    ReviewDate TIMESTAMP,
    ReviewText TEXT
);
"""

# ✅ Connect and execute DDL
conn = psycopg2.connect(
    host=PG_HOST,
    port=PG_PORT,
    user=PG_USER,
    password=PG_PASSWORD,
    dbname=PG_DB
)
cur = conn.cursor()
print("✅ Connected to PostgreSQL")

cur.execute(DDL)
conn.commit()

cur.close()
conn.close()

print("✅ All tables created successfully in schema robot_vacuum")

✅ Connected to PostgreSQL
✅ All tables created successfully in schema robot_vacuum